


<h3 align="center"> Agile Methodologies </h3>

<p style="color:black;background-color:LightCyan; font-size:16px";> Agile
    is a term used to describe approaches to 
    software development emphasizing incremental
    delivery, team collaboration, continual planning,
    and continual learning, instead of trying to deliver
    it all at once near the end.  </p>


</body>

<body style = "background-color:LightCyan;">

<p style="color:black; font-size:16px";> Agile focuses on
    keeping the process lean and creating minimum viable products
    (MVPs) that go through a number of iterations before anything
    is final. Feedback is gathered and implemented continually and
    in all, it is a much more dynamic process where everyone is
    working together towards one goal.  </p>

</body>