<body style = "background-color:LightCyan;">



<h3 align="center">  Continuous Integration and Continuous Delivery  </h3>


<p style="color:black; font-size:16px";> A continuous integration
    and deployment (CI/CD) pipeline is such an important aspect
    of a software project. It saves a ton of manual, error-prone
    deployment work. It results in higher quality software for
    continuous integration, automated tests, and code metrics.
    Ultimately this facilitates better software that can be
    released more frequently. </p>

<p style="color:black; font-size:16px";> With a CI/CD pipeline,
    every time the software’s code is changed, it is built and
    tested automatically. Code analysis is run against it.
    If it passes quality control gates and all the tests pass,
    it is automatically deployed, where automated acceptance
    tests run against it. This kind of quality control and automation
    is getting more and more necessary in today’s fast-paced software-centric
    environment where companies have to rapidly release stable software to keep up.

</p>

<p style="color:black; font-size:16px";>  </p>

