<body style = "background-color:LightCyan;">

<h3 align="center"> Decision Making </h3>

<p style="color:black; font-size:16px";>  Decision making
    is anticipation of conditions occurring while execution
    of the program and specifying actions taken according
    to the conditions. </p>


<p style="color:black; font-size:16px";>Decision
    structures evaluate multiple expressions which produce
    TRUE or FALSE as outcome. You need to determine which
    action to take and which statements to execute if
    outcome is TRUE or FALSE otherwise.  </p>

<center> <b> Syntax  </b>
    <p style = font-size:16px; >

        var = 100 <br>
if ( var == 10 ) : <br>
        print("Value of expression is 10") <br>
print("Good bye!")

    </p> </center> <br>


<center> <b>  Result </b>
    <p style = font-size:16px>
Value of expression is 10 <br>
Good bye! <br>

        </p> </center>

<h4> Else statement </h4>

<p style="color:black; font-size:16px";>
An <b>else</b> statement can be combined with an if statement.
An else statement contains the block of code that executes
if the conditional expression in the if statement resolves
    to 0 or a FALSE value. </p>

<center> <b>  <h4> Syntax </h4> </b>
<p style = font-size:16px>

if expression: <br>
   statement(s) <br>
else: <br>
   statement(s) <br>


    <center> <h4> Example </h4>
    <p style = font-size:16px>
        var1 = 1 <br>
if var1: <br>
   print("1 - Got a true expression value") <br>
   print(var1) <br>
else: <br>
   print("1 - Got a false expression value") <br>
   print(var1) <br>
<br>
var2 = 0 <br>
if var2: <br>
   print("2 - Got a true expression value") <br>
   print(var2) <br>
else: <br>
   print("2 - Got a false expression value") <br>
   print(var2) <br>

print("Good bye!") <br>

        </p></center>



<center> <b>  Result </b>
    <p style = font-size:16px>
 1 - Got a true expression value <br>
1 <br>
2 - Got a false expression value <br>
0 <br>
Good bye! <br>

        </p> </center>


<br>
</body>