<body style = "background-color:LightCyan;">

<h3 align="center"> Functional paradigm </h3>

<p style="color:black; font-size:16px";> In an imperative paradigm, you get things done by giving
    the computer a sequence of tasks and
    then it executes them. While executing them, it can change states. For example, let’s say you
    originally set A to 5, then later on you change the value of A. You have variables in the sense
    that the value inside the variable varies.</p>


<center> <h4> Example </h4>
    <p> a = 3 <br>
def some_func(): <br>
    global a <br>
    a = 5 <br>

some_func() <br>
print(a) </p></center>

<p style = font-size:16px;> The output for this code is 5. In the functional paradigm, changing variables
    is a big no-no and having functions affect things outside of their scope is also
    a big no-no. The only thing a function can do is calculate something and return
    it as a result. </p>

<h3 align="center"> What is a Function? </h3>

<p style = font-size:16px;> A function is basically a way of organising instructions. Think of a thing that
    you do regularly. Having experience means that you know what do, right? How?
    Well, you’ve got a clear idea in your head of what the steps necessary for that thing are.
    Functions are basically like that. They’re things you can write once that stop you from
    needing to repeat the same bit of code in loads of places. Once you’ve written a bit of logic
    down, you can just refer back to it, and be like, yo, do that thing again.
</p>

<h3 align="center"> Steps to create functions </h3>
<p style = font-size:16px;>  You need to define it.
Use the def statement to create the function object and assign a name to it.
    When you’re defining a function, what you’re doing is describing the inner
    working logic of the operation. <br> <br>

    <b> <i> def cleaning(): </i>  </b>

    <br> <br> </p>

<p style = font-size:16px;> You need to decide on what the arguments will
    be for your function. Parameters or arguments are the entities involved
    in your operation. So, if I say, yo go and add 3 and 4, there are
    two arguments(3 and 4). So,
    <br> <br>

  <b> <i> def cleaning(a, b): </i>  </b>

    <br> <br>

</p>


<p style = font-size:16px;> return stuff. What do you want the take
    away from your operation to be? The return statement basically says,
    hey, here is the result for your thing. We’ll return to the return statement
    in the next functions piece when you we talk about scope and namespaces
    (I said return return lol). But for now, if it was addition example,
    here is how we might use the return statement:
    <br>  <br>

      <b> <i> def cleaning(a, b):→ here, we’re like defining the function. <br>
             return a * b → here, we’re saying, gimme a times b as a result </i>  </b>

    <br> <br>

</p> Finally, you need to call the function:
    <br>  <br>
 <b> <i>
    addition(6, 12)
     </i>  </b>

<br> <br>

<p style = font-size:16px;>




</p>