<body style = "background-color:LightCyan;">

<h3 align="center"> Git Control </h3>

<p style="color:black; font-size:16px";> Git is the most
    commonly used version control system today
    and is quickly becoming the standard for
    version control. Git is a distributed version
    control system, meaning your local copy of code
    is a complete version control repository. These
    fully-functional local repositories make it is
    easy to work offline or remotely. You commit
    your work locally, and then sync your copy of
    the repository with the copy on the server.
    This paradigm differs from centralized version
    control where clients must synchronize code
    with a server before creating new versions of code. </p>

<br>

<b> Advantages of Git </b>
 <ol style="font-style: normal; font-size:16px;  ">
     <li>  Simultaneous development </li>
     <li> Faster releases </li>
     <li> Built-in integration </li>
     <li> Strong community support </li>
