{% load static %} <center><img src="{% static "introduction/images/python2.png" %} " alt = "Python"  height = "200" width = "200"> </center>



<body style = "background-color:LightCyan;">
<h3 align="center"> {{Course_name}} - Tutorials </h3>
<h5> <em>What is {{Course_name}}?</h5>

<p  style="font-style: normal; font-size:12px; ">{{Course_name}} is a {{Language_level}}, {{interpreted_or_compiled}} programming
    language. It is first appeared in {{Date_created}}. The main advantages of the {{Course_name}} is  its {{advantages}}.

</p>


<h5> <em>Why to use {{Course_name}}?</h5>

<ol style="font-style: normal; font-size:12px; ">
    <li> Easy to Read Code. </li>
    <li> Support of Multiple Programming Paradigms</li>
    <li> Easy to Maintain the Code</li>
    <li> Compatability of the Major Platforms</li>
    <li> Powerful Standard Library </li>
    <li> Extensive Number of Frameworks </li>
    <li> Rapid Prototyping and Test-Driven Development </li>
</ol>

<h5> <em>Who is the audience of {{Course_name}} course?</h5>

<p  style="font-style: normal; font-size:12px; "> This tutorial is designed for <b>newcomers</b> to the software programming world.
Basic knowlege of software programming will be an advantage to comprehend the topics offered in the course.

<h5> <em> What are the most popular {{Course_name}} frameworks? </h5>
<ul style="font-style: normal; font-size:12px; ">
    <li> <b>Web Frameworks: </b> Django, Flask, Pyramid, TurboGears, CherryPy </li>
    <li> <b> Data Analysis Frameworks: </b> Pandas, Numpy, Matplotlib, Seaborn </li>
    <li> <b> Machine Learning Frameworks: </b> SciKit-Learn, TensorFlow </li>

    <br> <br>

<a href = "{% url 'introduction:registration' %}" > Register </a> <br> <br>
    <a href = "{% url 'introduction:login' %}" > Login </a>
