<body style = "background-color:LightCyan;">

<h3 align="center"> Kanban </h3>

<p style="color:black; font-size:16px";> Kanban methodology
    is less structured methodology than Scrum.
    There is no process framework in this methodology.
    It only has an introduced model who improves the process
    through incremental improvements. This methodology can
    apply on any other methodology which you are already running. </p>


 <b> Advantages of Using Kanban </b>
 <ol style="font-style: normal; font-size:16px;  ">
     <li> Kanban methodology increases the process flexibility.   </li>
     <li> It reduces the wastes from the process.  </li>
     <li>  Kanban is easy to understand the methodology. </li>
     <li>  It improves the delivery flow. </li>
     <li> It reduces the time cycle of the process. </li>
 </ol>