<body style = "background-color:LightCyan;">

<h3 align="center"> Scrum </h3>
<p style="color:black; font-size:16px";>Agile methodologies
    allow project participants to adjust their activities
    in response to situations that arise during the project
    management process. One such methodology is Scrum,
    named after the cooperative rugby strategy in which
    teams gain distance by passing the ball back and forth.
    Although Scrum is actually an "inspect and adapt" framework
    for software development and not a project management
    methodology, per se, it has applications for other
    types of projects, and thus is considered by many to
    be an agile project management tool.</p>


 <b> Advantages of Using Scrum </b>
 <ol style="font-style: normal; font-size:16px;  ">
    <li>  <b> Flexibility/Adaptivity </b> <br> An Agile/Scrum
        approach is best-suited for a relatively
        uncertain environment where it is very
        difficult, if not impossible, to accurately
        define the requirements and design for the
        solution in detail prior to the start of the
        project.  In that kind of environment, flexibility
        and adaptivity are essential to further define
        and elaborate the requirements and design of the
        solution as the project is in progress  </li>

     <br>
     <li> <b> Creativity/Innovation </b>
         <br>
         In the highly competitive environment
         that we live in today, no one wants to
         buy average, run-of-the-mill products.
         People expect a higher level of excellence
         and that requires creativity and innovation.
         An Agile/Scrum approach emphasizes creativity
         and innovation to maximize the business value
         of the solution over planning and control which
         tends to stifle creativity and innovation. </li>
     <br>

    <li> <b>Time-to-Market </b>
        <br>
        An Agile/Scrum approach typically
        results in faster time-to-market due
        to shorter startup times and an incremental development
        effort that will allow early delivery of at least a
        portion of the solution without waiting for the
        entire solution to be 100% complete </li>
     <br>

     <li> <b> Lower Costs</b>  <br>
         An Agile/Scrum approach can lower the costs of a project in several ways:
     <br>
          <ul style="font-style: normal; font-size:16px;  ">
              <li> Significantly reduced overhead
                  resulting from reducing unnecessary documentation and control requirements</li>

         <br>
         <li>
             Higher productivity of the project team </li>
         <br>

         <li> Reduced “feature bloat
             ” from using an incremental development effort and prioritizing
             the requirements it will become apparent when the project begins
             to reach a point of diminishing returns where the value of the
             features no longer exceeds the development cost </li>


     </ul>  </body>